/* ** ----- RESET ----- ** */

body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/* ** ----- BACKGROUNDS ----- ** */

.bg-dark {
    background-color: #252422;
}

.bg-orange {
    background-color: #eb5e28;
}

/* ** ----- PROGRESS BAR TITTLE ----- ** */

h1 {
    font-family: 'Poppins';
    color: #fffcf2;
    position: relative;
    /*right: 40%; */
    margin-top: 250px;
    text-align: center;
}

/* ** ----- PROGRESS BAR ----- ** */

progress {
    position: absolute;
    top: 50%;
    right: calc(50% - 125px);
    width: 250px;
    height: 25px;
    border: 1px solid #fffcf2;     
    border-radius: 10px;
    overflow: hidden;
}

/* ** ----- PROGRESS PRINT ----- ** */

p {
    position: relative;
    text-align: center;
    /* position: absolute; */
    top: 49%;

    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: small;
}

::-webkit-progress-bar{
    background-color: #fffcf2;

}

::-webkit-progress-value{
    background-color: #90be6d;
}